<div class="register">
    <div class="register-form">
        <h2>Registration Form</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="my-3">
                <label>Name:</label>
                <input type="text" class="form-control" formControlName="name">
                <div *ngIf="nameError" class="text-danger">{{nameError}}</div>
            </div>
            <div class="my-3">
                <label>MobileNo:</label>
                <input type="tel" class="form-control" formControlName="phone">
                <div *ngIf="phoneError" class="text-danger">{{phoneError}}</div>
            </div>
            <div class="my-3">
                <label>Email:</label>
                <input type="text" class="form-control" formControlName="email">
                <div *ngIf="emailError" class="text-danger">{{emailError}}</div>
            </div>
            <div class="my-3">
                <label>Password:</label>
                <input type="password" class="form-control" formControlName="password">
                <span *ngIf="password?.invalid && password?.touched" class="text-danger">password is invalid</span>
            </div>
            <div class="my-3 button-div">
                <button class="btn btn-primary btn-sm">Register</button>
            </div>
        </form>
    </div>
</div>