<div class="row">
    <div class="col-md-3 bg-light p-2 text-center">
        <div>
            <button class="btn btn-success" (click)="showAllProducts()">All Products</button>
        </div>
        <div class="my-3">
            <button class="btn btn-warning btn-sm mx-1" (click)="onMensClick()">Mens</button>
            <button class="btn btn-warning btn-sm mx-1" (click)="onWomensClick()">Womens</button>
            <button class="btn btn-warning btn-sm mx-1" (click)="onKidsClick()">Kids</button>
        </div>
        <div class="my-3">
            <select class="form-select" #category (change)="onCategoryChange($event,category.value)">
                <option [value]="">{{categoryName}}</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.categoryName}}</option>
            </select>
        </div>
        <div class="my-3">
            <select class="form-select" (change)="onSubCategoryChange($event)">
                <option [value]="">select subcategory</option>
                <option *ngFor="let subCategory of subCategories" [value]="subCategory.id">{{subCategory.subCategoryName}}</option>
            </select>
        </div>
        <div class="my-3">
            <select class="form-select"  (change)="onBrandChange($event)">
                <option [value]="">select brand</option>
                <option *ngFor="let product of products" [value]="product.brand">{{product.brand}}</option>
            </select>
        </div>
    </div>
    
    <div class="col-md-9">
        <div class="row">
            <div class="product-card ">
                <div class="card  col-lg-4" *ngFor="let product of filteredProducts | searchPipe:searchText" style="width: 18rem;">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div>
                        <p class="card-text">{{product.productName}}</p>
                        </div>
                        <div>
                            <!-- <ng-container *ngIf="addedToWishList; else elseBlock">
                                <i class="fas fa-heart" (click)="handleRemoveFromList(product.id)"></i>
                            </ng-container>
                            <ng-template #elseBlock>
                                <i class="far fa-heart" (click)="handleAddToWishList(product.id)"></i>
                            </ng-template> -->
                        <i class="fa-solid fa-heart fs-2" [ngStyle]="{'color':heartColor}" (click)="onLikeClicked(product.id)"></i>
                        
                        <!-- <i *ngIf="addedToWishList" class="fa-solid fa-heart" (click)="handleAddToWishList(product.id)"></i>
                        <i *ngIf="!addedToWishList" class="fa-regular fa-heart" (click)="handleRemoveFromList(product.id)"></i> -->
                        </div>
                    </div>
                    <img class="card-img-top" src="{{product.image}}" alt="Card image cap" (click)="onProductImageClicked(product.id)">  
                </div>
            </div>
        </div>
    </div>
</div>
