img{
    width: 80px;
    height: 80px;
}
.box{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 150px 0px;
}
.incbtn{
    border-radius: 50%;
}
.cart-details{
    border: 1px solid lightgray;
    padding: 0px;
}
.cart-price-details{
    border: 1px solid lightgray;
    padding: 0px;
    height: 250px;
}
.oderBtn{
    border-radius: 0px;
}
.set-position{
    position: sticky;
    top: 100px;
}
.cursor{
    cursor: pointer;
}
