<div class="row">
    <div class="col-md-12">
        <h3>Edit Category</h3>
        <form [formGroup]="categoryForm" (ngSubmit)="onEditCategory()">
            <div class="my-3">
                <label>categoryName</label>
                <input type="text" class="form-control" formControlName="categoryName">
            </div>
            <div class="my-3">
                <label>Type</label>
                <select class="form-select" formControlName="type">
                    <option value="Mens">Mens</option>
                    <option value="Womens">Womens</option>
                </select>
            </div>
            <div class="my-3">
                <label>Status</label>
                <select class="form-select" formControlName="status">
                    <option value="Active">Active</option>
                    <option value="InActive">InActive</option>
                </select>
            </div>
            <div class="my-3">
                <label>Date</label>
                <input type="text" class="form-control" formControlName="date">
            </div>
            <div class="my-3">
                <label>Image</label>
                <input type="text" class="form-control" formControlName="image">
            </div>
            <div class="my-3">
                <button class="btn btn-primary btn-sm">Update</button>
                <button class="btn btn-sm btn-dark mx-2" (click)="backToCategories()">back to categories</button>
            </div>
        </form>
    </div>
</div>