<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Edit SubCategory</h3>
        <form [formGroup]="subCategoryForm" (ngSubmit)="onEditSubCategory()">
            <div class="my-3">
                <label>subCategoryName</label>
                <input type="text" class="form-control" formControlName="subCategoryName">
            </div>
            <div class="my-3">
                <label>CategoryName</label>
                <select class="form-control" formControlName="categoryName">
                    <option *ngFor="let category of categories" [value]="category.id">{{category.categoryName}}</option>
                </select>
            </div>
            <div class="my-3">
                <label>Type</label>
                <select class="form-control" formControlName="type">
                    <option value="Mens">Mens</option>
                    <option value="Womens">Womens</option>
                    <option value="Kids">Kids</option>
                </select>
            </div>
            <div class="my-3">
                <label>Status</label>
                <select class="form-control" formControlName="status">
                    <option value="Active">Active</option>
                    <option value="InActive">InActive</option>
                </select>
            </div>
            <div class="my-3">
                <label>Date</label>
                <input type="text" class="form-control" formControlName="date">
            </div>
            <div class="my-3">
                <label>Description</label>
                <input type="text" class="form-control" formControlName="description">
            </div>
            <div class="my-3">
                <button class="btn btn-primary btn-sm">Edit SubCategory</button>
                <button class="btn btn-sm btn-dark mx-2" (click)="backToSubCategories()">back to subCategories</button>
            </div>
        </form>
    </div>
</div>