<div class="icon d-flex">
  <i class="fa-solid fa-bars-staggered fs-3 pe-2"></i>
  <h2>Dashboard</h2>
</div>
<div class="dashboard row">
    <div class="dashboardDiv bg-danger text-white col-sm-12">
      <div><span class="count">{{ucount}}</span>Users</div>
      <div><i class="fa-solid fa-users"></i></div>
    </div>
    <div class="dashboardDiv bg-success text-white col-sm-12">
      <div><span class="count">{{pcount}}</span>Products</div>
      <div><i class="fa-brands fa-product-hunt"></i></div>
    </div>
    <div class="dashboardDiv bg-warning text-white col-sm-12">
      <div><span class="count">500</span>Orders</div>
      <div><i class="fa-brands fa-first-order"></i></div>
    </div>
    <div class="dashboardDiv bg-primary text-white col-sm-12">
      <div><span class="count">{{ccount}}</span>Categories</div>
      <div><i class="fa-solid fa-sitemap"></i></div>
    </div>
  </div>