.side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid lightgray;
    padding: 20px;
}
.recentlyViewed{
    background-color: white;
   
    border-radius: 5px;
    margin: 20px;
}
.recentlyViewed img{
    width: 150px;
    height: 150px;
}
.items{
    display: flex;
    padding: 20px 30px;
}
.item{
    padding: 20px;
}
.banner{
    padding: 5px 20px 0px;
}
.home{
    background-color: lightgray;
    padding-bottom: 10px;
}
.categories-data img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: lightgray;
}
.item-div{
    height: 140px;
}
.slick-slider {
    width: 90%;
    margin: auto;
  }
    
body .slick-prev, 
body .slick-next {
    height: 45px;
    width: 40px;
    background: #575d59 !important;
    z-index: 100;
}
.banner img{
    height: 500px;
}
@media screen and (max-width:476px){
    .categories-data img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: lightgray;
    }
}
@media screen and (max-width:676px){
    .categories-data img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: lightgray;
    }
}